/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
  background-color: rgb(37, 47, 61);
}
img {
	width: 100%;
	height: auto;
}
body {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
  initial-letter: 5;
}
p {
  margin-bottom: .67em;
  
}
nav, footer {
  background-color: rgb(0, 23, 58);
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin: 2em auto;
  text-align: center;
 
}
header img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
 }
.small {
  margin-top: 1em;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: rgb(116, 116, 116);
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: medium ;
  color:rgb(116, 116, 116);
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  margin: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
}
a.button {
  border: 2px solid #888;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #888;
  background-color: rgb(0, 42, 105);
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
 
}
a.button:hover, a.button:active {
  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
.dropcap {
  font-size: 200%;
}